textarea{
    margin-top: 30px;
    margin-left: 10px;
 }
.content{
    margin-left: 0px;
    background-color: grey;
}

h2{
    text-align: center;
}

.form{
    margin-top: 50px;
    margin-left:20px;
}
nav{
    background-color: lightgrey;
    height: 60px;
}